@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-vault-200: #e7e5e4;
    --color-vault-300: #a8a29e;
    --color-vault-400: #78716c;
    --color-vault-500: #57534e;
    --color-vault-600: #2a2520;
    --color-vault-700: #1c1917;
    --color-vault-800: #141210;
    --color-vault-900: #0c0a09;
}
